*.DS_Store
*__pycache__
*.import
*.cache
*.md5
*.ctex
*.png
!assets/latest_loss_curve.png
*.translation
*.pth
*.csv

.vscode

# We don't need the generatable files from godot:
src/godot/.godot/

# We also only want to include important tex files for the paper:
paper/tex/*
!paper/tex/*.tex
!paper/tex/*.bib
!paper/tex/*.cls
!paper/tex/*.pdf

# For the linter we are using:
ruff.toml