*.DS_Store
*__pycache__
*.import
*.cache
*.md5
*.ctex
*.translation
*.pth
*.csv

# Vim swap files
*.swp
*.swo

# If using VSCode, you might want to ignore the workspace storage:
.vscode
# Png rules (general images)
src/godot/data_images/*.png
src/godot/frames_testing/*.png
!assets/latest_loss_curve.png

# Tex stuff mostly (for paper)
*.gz
*.log
*.out
*.fls
*.fdb_latexmk
*.aux
*.blg

# We don't need the generatable files from godot:
src/godot/.godot/

# For the linter we are using:
ruff.toml
